<div class= 'container'>
	<h1>welcome to swappaws</h1>
<h3>swap cat care with neighbors</h3>
<p>When you go away your swappaws neighbor visits and cares for your perfect<span class='aster'>*</span> feline(s) &amp; when your neighbor goes away and you are home you visit and care for their perfect<span class='aster'>*</span> feline(s)</p>
<p class= 'small'><span class='aster'>*</span>'perfect' attribute is attached to animal(s) whose human is doing the attribution</p>


</div>