.notice, .alert{
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  color: #613888;
  white-space: nowrap;
  z-index: 1000;
  padding: 20px;
  display: block;
  background: rgba(255, 255, 255, .65);
  margin: 0 100px;
}

.panel,  .panel-default{
  background: rgba(255, 255, 255, .4);
   border: 1px dotted #fff;
}

.form-box{
  display: block;
  height: 100%;
  width: 85%;
  background: rgba(255, 255, 255, .4);
  margin: -12px auto 0.75em auto;
  padding: 0 2em 2em 2em;
  border: 1px dotted #fff;

}
