$footer-height: 120px;
$darkPrimaryColor:  #455A64;
$catEyeColor: #CDDC39;

#footer {
	color:$catEyeColor;
	// background: #4c6c7f;
  background:$darkPrimaryColor;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding-top: 1em;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5{
	color: #fdfbee;
  margin-bottom: 0.25em;
}

#footer p{
	font-size: 80%;
	line-height: 1.5;
}


@media (max-width: 768px) {
	body {
  margin-bottom: 320px;
	}
  #footer {
    height: 300px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding-top: 1em;
  }
}