// // colors from flixgter, just changee for new app
// #22555f dk blue green
// #385e88 dots fb blue
//#613888 dots purple
// #47b5ca lt blue green aka turq
//#d5ecdf very light blu grn
//#ff8cc2 pink
//#8e70b3 mauve
//#96bde6 dots fb blu pale pale



*{
  box-sizing: border-box;
  border-radius: 0 !important;
}

html{
    position: relative;
  min-height: 100%;
  font-size: 16px;
    background: url(catpaw-fur.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body{
  font-size: 100%;
  font-family: Lato, sans-serif;
  line-height: 1.8;
 padding-bottom: 320px;
  background:rgba(255,255,255, .3);
}
a{
  color: #47b5ca !important;
  line-height: 1;
}
blockquote{
  border-left: none !important;
}

h1, h2, h3, h4, h5, h6{
  font-family: PT Mono, serif;
  font-weight: 400;
  color: #3a4648;
  text-transform: lowercase;
  padding:0;
  margin: 0;
}
h1 {
  font-weight: 700;
  border-bottom: 1px dotted #d5ecdf;
  padding-top: 0.8em;
  line-height: .7;
  margin-bottom: 20px;
  font-style: italic;
}

// todo add &para; entity before
h2{
 padding-left:10px;
  margin:10px;
}

.aster{
  color:#a80060;
  font-weight: bold;
  // font-size: 120%;
  
}
.alegreya{
  font-family: Alegreya SC, Georgia, serif;
}
.subhead{
  font-weight: bold;
  color: #4c6c7f;
  
}

.label, .label-default{
  display:block;
  margin-top:10px;
  background-color: #4c6c7f;
  padding: 1em;
}

.louder{
  font-size: 1.25rem;
}

.form-box{
  display: block;
  height: 100%;
  width: 85%;
  background: rgba(255, 255, 255, .4);
  margin: -12px auto 0.75em auto;
  padding: 0 1em 1em 1em;
  border: 1px dotted #fff;

}

.glyphicon{
  color: #fdfbee;
  font-size: 50%;
}
.notice, .alert{
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  color: #613888;
  white-space: nowrap;
  z-index: 1000;
  padding: 20px;
  display: block;
  background: rgba(255, 255, 255, .65);
  margin: 0 100px;
}

.pull-right{
  margin-right: 1em;
}
