// // colors from flixgter, just changee for new app
// #22555f dk blue green
// #385e88 dots fb blue
//#613888 dots purple
// #47b5ca lt blue green aka turq
//#d5ecdf very light blu grn
//#ff8cc2 pink
//#8e70b3 mauve
//#96bde6 dots fb blu pale pale
//base font size defined in html style

.louder{
  font-size: 1.25rem;
}

.aster{
  color:#a80060;
  font-weight: bold;
  // font-size: 120%;
  
}
.alegreya{
  font-family: Alegreya SC, Georgia, serif;
}
.subhead{
  font-weight: bold;
  color: #4c6c7f;
  
}
