
	
<p>Dear <%= @user.name %>,</p>
 
<p>Welcome to swappaws palindromic neighborly catsit sharing!
tealeaf looks better-- when production is live do it!
http://www.gotealeaf.com/blog/handling-emails-in-rails
http://www.sitepoint.com/fun-sending-mail-rails/</p>
 
<p>Yours purrly,</p>
<p>El Snorgalito, feline owner of this app's human</p>